# general variables
# your user name, that will be used also as Postgresql role name and Postfresql database name
USER_NAME='gis'

# variable to store additional paths, that should be added to PATH variable
# replase "gis" with your user name
PATH_ARRAY='/home/gis/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:'
# directory for pipeline execution 
GENERAL_FOLDER=geocint
# directories that should be added to env
OPTIONAL_DIRECTORIES=''
# name of your private repositry
PRIVATE_REPO_NAME=geocint-private
# name of makefile from your private repositry
PRIVATE_MAKE_NAME=private_make
# name of makefile from geocint-openstreetmap repositry
OSM_MAKE_NAME=osm_make

# updates block
# set to true to pull geocint-runner repo before each run
UPDATE_RUNNER=false
# set to true to pull geocint-openstreetmap repo before each run
UPDATE_OSM_LOGIC=false
# set to true to pull your repo before each run
UPDATE_PRIVATE=true

# targets block
# list of targets that will be runned automatically
RUN_TARGETS='your_final_target'

# slack integration
# name of slack channel for sending messages from pipeline
SLACK_CHANNEL=slack_channel
# name of slack bot for sending messages from pipeline
SLACK_BOT_NAME="Your bot name"
# name of slack emoji that will be used as bot's avatar for sending messages from pipeline
SLACK_BOT_EMOJI=cat
# slack integration token, replace 'your_slack_key' with your slack integration key
SLACK_KEY=your_slack_key

# ignored files
# this variable contains filenames, that should be ignored in copy process
# add here names of files that duplicated between geocint-runner, geocint-openstreetmap and your private repository
# that files will not be copy from all repositories
# Use ',' as a delimiter
# By default this variable contain README.md and LICENSE files that have duplicates
# Keep in mind that if you want to add file you should remove from filepath repository
# eg: geocint-runner/scripts/script_do_smth.py >>> scripts/script_do_smth.py
IGNORE_EXISTED_FILE='README.md,LICENSE'
